.plants-defs ul {
    list-style-type: none; /* Quitar los puntos de la lista */
    padding: 0; /* Eliminar el padding del <ul> */
    margin: 0; /* Eliminar el margen por defecto */
}

.plants-defs li {
    margin-bottom: 10px; /* Espacio entre cada <li> */
    color: rgb(212, 211, 211);
}

.plants-defs h4 {
    display: inline; /* Mostrar el h3 en la misma línea que el texto */
    margin-right: 10px; /* Espacio entre el h3 y el texto */
    color: var(--text_green);
}

.plants-defs {

    display: inline-block;
    margin: 25px auto;
    text-align: left;

}

.plants-defs ul li b {

    color: var(--text_blue);

}


h1 a {
    text-decoration: none;
    color: var(--text_green); 
    transition: color 0.5s, text-decoration 0.5s; 

}

h1 a:hover {
    text-decoration: underline;
    color: var(--text_blue)
}



.container {
    background: rgb(28, 28, 28);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    align-items: center;
}


input {
    width: 80%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #4b4b4b;
    border-radius: 5px;
    background-color: #4b4b4b;
    color: white;
    
}

input:focus {
    border: 2px solid var(--text_red); /* Cambia el color y el grosor del borde al enfocarse */
    outline: none; /* Elimina el contorno por defecto */
}


button {
    width: auto;
    padding: 10px 15px;
    border: none;
    background-color: var(--text_green); 
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.5s; 

}
button:hover {
    background-color: var(--text_blue); 
}

